extends layout

block content
	- var base = 'http://www.addic7ed.com'

	if title
		h1= title || 'peqwa'
	select.shows
		for show in shows
			option(value=show.id,
			selected=(show.id == params.show ? 'selected' : false))= show.name
	h2 season
	select.seasons
		option
		if seasons
			for season in seasons
				option(value=season.id,
				selected=(season.id == params.season ? 'selected' : false))= season.name
	h2 episode
	select.episodes
		option
		if episodes
			for episode in episodes
				option(value=episode.id,
				selected=(episode.id == params.episode ? 'selected' : false))= episode.name
	h2 single episode subs
	table.subs
		if episode_subtitles
			for sub in episode_subtitles
				tr
					td
						a(href=base + sub.link, target='_blank')= sub.version
					td= sub.lang