extends layout

block content
	// - var seasons = seasons ? seasons : [{id:0, name:"select me"}];
	// - var episodes = episodes ? episodes : [{id:0, name:"select me"}];
	- var base = 'http://www.addic7ed.com/'
	
	if title
		h1= title || 'peqwa'
	select.shows
		for show in shows
			option(value=show.id, selected=(show.id == params.show ? 'selected' : false))= show.name
	h2 season
	select.seasons
		option
		if seasons
			for s in seasons
				option(value=s.id)= s.name
	h2 episode
	select.episodes
		option
			if episodes
				for ep in episodes
					option(value=ep.id)= ep.name
	h2 single episode subs
	table.subs
		if episode_subtitles
			for sub in episode_subtitles
				tr
					td
						a(href=base + sub.link, target='_blank')= sub.version
					td= sub.lang